# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
dist/

# Env
.env

# Data
/tmp/
*.parquet
checkpoint/

# IDE
.vscode/
.idea/

# Docker volumes (local)
postgres_data/
grafana_data/

# Hadoop binaries
.hadoop/

# dbt
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/
